# Virtual environments
virtual-env/
.venv/
venv/


# Python cache
__pycache__/
*.pyc

# Build artifacts
*.egg-info/
dist/
build/

# OS junk
.DS_Store


# Project files
program_env/utilities/agents/
program_env/instagram/data_collectors/storage/
program_env/utilities/notes.txt
program_env/instagram/data_collectors/collectors/notes.txt
biz-plan.md